body {
    background-color: whitesmoke;
}

.signin {
    display : block;
    text-align: center;
}

input {
    width: 300px;
    height: 25px;
    margin-top: 30px;
}

.register{
    width : 310px;
    height : 27px;
    margin-top: 20px;
    background-color: #1AB394;
    color : white;
    border-width: 0;
    border-radius: 3px;
    cursor : pointer;
}
.golog {
    width : 310px;
    height : 27px;
    margin-top : 20px;
    border-color: gray;
    border-radius: 3px;
    border-width: 0.3px;
    cursor : pointer;
}